{% extends "layout.html" %}

{% block title %}
  Home
{% endblock  %}


{% block content %}  
    <!-- Header -->
    
    <!-- Hero -->
    <div class="relative isolate px-6 pt-14 lg:px-8">
      <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
        <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
      </div>
      <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
        <div class="hidden sm:mb-8 sm:flex sm:justify-center">
          <div class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
            &#128075; Welcome to My Tech Blog Journey! <span role='img' arial-label='s'>✨</span>
          </div>
        </div>
        <div class="text-center">
          <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Tech insights to power your digital future</h1>
          <p class="mt-6 text-lg leading-8 text-gray-600">Stay ahead of the curve with our in-depth analysis of emerging technologies, industry trends, and innovative solutions shaping the tech landscape.</p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="{% url 'posts:list' %}" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"><span role='img' arial-label='b'>📚</span> Read more</a>
          </div>
        </div>
      </div>
      <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
        <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
      </div>
    </div>
  
    <!-- Section -->
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <div class="text-center">
        <h2 class="text-3xl font-extrabold text-gray-900">From the blog</h2>
        <p class="mt-2 text-lg text-gray-600">Learn how to grow your business with our expert advice.</p>
    </div>
    <div class="mt-12 grid gap-8 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1">
      {% for post in posts %}
      <div class="bg-white shadow overflow-hidden sm:rounded-lg">
          <img class="w-full h-96 object-cover" src="{{post.banner.url}}" alt="{{post.title}}">
          <div class="px-4 py-5 sm:p-6">
              <div class="text-xs text-gray-500 mb-2">{{post.date | date:'M d, Y'}}</div>
              <span class="inline-block bg-gray-200 text-gray-800 text-xs px-2 py-1 rounded-full uppercase font-semibold tracking-wide">{{post.slug}}</span>
              <h3 class="mt-4 text-xl font-semibold text-gray-900">
                <a href="{% url 'posts:page' slug=post.slug %}">
                  {{ post.title}}
                </a>
              </h3>
              <p class="mt-2 text-gray-500 text-sm">
                {{ post.body }}
              </p>
              
          </div>
      </div>
      {% endfor %}
    </div>
    </div>

{% endblock  %}
