
{% load compress %}
{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
      Dongyang &apos; Blog
    {% endblock  %}
  </title>
  
  {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
  {% endcompress %}
  <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body class="bg-gray-100 bg-[radial-gradient(circle,_#0a0a0a_0.5px,_transparent_0.8px)] bg-[size:20px_20px] ">
  <div >
    <header class="absolute inset-x-0 top-0 z-50">
      <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
      <a href="{% url 'home' %}" class="-m-1.5 p-1.5">
        <span class="sr-only">My Blog</span>
        <img class="h-8 w-auto" src="{% static 'images/logo.svg' %}" alt="logo">
      </a>
    </div>
    
    <div class="lg:flex lg:flex-1 lg:justify-end">
      <a href="/admin" class="text-sm font-semibold leading-6 text-gray-900">
        <span role='img' arial-label='w'>✍️</span> Write <span aria-hidden="true">&rarr;</span></a>
    </div>
    </nav> 
  </header>
</div>

<!-- Content -->
  <main>
    {% block content %}
    
    {% endblock %}
  </main>
<!-- Footer -->
  <div class='footer-fixed lg:relative bg-gray-600 text-white w-full bottom-0  flex justify-center items-center sm:px-6 lg:mt-48' >
  <div class="px-5 text-xs uppercase ">Made with <span role='img' arial-label='h'>❤️ </span> By Dongyang</div>
  <div class="px-5 text-xs uppercase">no cookies<span role='img' arial-label='c'>🍪</span> just colors<span role='img' arial-label='p'>🎨</span> and code<span role='img' arial-label='l'>👩🏻‍💻</span></div>
  <div class="hidden sm:flex sm:justify-center text-sm">©  2024</div>
  </div>
</body>
</html>